body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light background */
}

header {
    background-color: #2ecc71; /* Green header */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #3498db; /* Blue navigation bar */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff; /* White navigation links */
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

nav a:hover {
    color: #e74c3c; /* Red highlight color on hover */
}

section {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    border: 5px solid #f39c12; /* Orange border */
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* leaders and areas page */
.leader, .area {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* White background for leader and area sections */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
}
